#scroll{
    position: absolute;
    transition: all 1s ease;
    animation: scroll 500ms ease alternate infinite;
}


@keyframes scroll{
    from {
        bottom: 20px;
    }
    to{
        bottom: 30px;
    }
}
